@charset "UTF-8";
/* CSS Document */

h1 {
  padding: 40px;
  background: #bfcadd;
text-align: center;
  color: white;
-webkit-text-stroke-width:2.5px;
    -webkit-text-stroke-color: #31313b;
  font-size: 90px;
  font-family:Baby Darling;
	
}
h2{
text-align: center;
  color: #31313b;
  font-size: 35px;
  font-family:Baby Darling;
}
		
p {
	font-size: 20px;
	font-family:Geneva;
	text-align:center; 
}

.image1{
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	align-content: center;
	width: 400px;
	flex: 50%;
}
.image2{
	width: 400px;
}

.flex{
    display:flex;
    flex-direction:row;
    /* flex-direction: row keeps them side by side, columns keeps them top and bottom of each other */
    justify-content: flex-start;
    /*  justify-content: flex-start moves everything to the left, flex-end moves everything to the right */
    padding: 0px 100px 0px 100px;
}

.flexbox{
    flex:60%;
    
    /* flex: determines how big it is, the larger the number, the bigger the section */
}

ul {
	font-family:DK Lemon Yellow Sun;
	 font-size: 35px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6e727d;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #31313b;
}

.porfolio{
	margin-left: auto;
  margin-right: auto;
 
}

	figure {
	width: 200px;
  float: right;
  text-align: center;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 1em;
  padding: 1em;
  min-width: 200px;
  }
  

img{
        max-width:100%;
        max-height: 100%;
        display: block; 
        }
        
.column3{
    flex: 33.33%;
    padding: 5px 5px 5px 5px;
}

.row{
    display:flex;
}

div.container{
   align-content: center;
}

html{
    margin: 0px;
    padding: 0px;
}

.column4{
    flex: 25%;
    padding: 5px;
    width: 20%;

}